@model Book
@{
    ViewData["Title"] = "Details";
}

<h3 class="title">@Model.Title</h3>

<div>
    <img class="bookCover" src="https://covers.openlibrary.org/b/ISBN/@Model.ISBN-M.jpg" alt="Image of book cover" />
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year Published</th>
        <th>Genre</th>
        <th>Completed</th>
        
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.ISBN</td>
        <td>@Model.Title</td>
        <td>@Model.Author</td>
        <td>@Model.YearPublished</td>
        <td>@Model.Genre</td>
        <td>@Model.Completed</td>
        
    </tr>
</table>



<table class="table">
    <tr>
        <th>Description</th>
    </tr>
    <tr>
        <td>@Model.Description</td>
    </tr>
</table>



<div  style="display: block">
    <form class="button" action="/Book/UpdateBook/@Model.ID">
        <input type="submit" value="Update this book" />
    </form>

    @using (Html.BeginForm("DeleteBook", "Book", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this book" />
    }
</div>