@model IEnumerable<Author>
@{
    ViewData["Title"] = "Authors";
}
<p class="title"><span class="fancy">Authors</span></p>



<form class="searchForm" asp-controller="Author" asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name or work: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<div class="button">
    <form action="/Author/InsertAuthor/">
        <input type="submit" value="Add a new author" />
    </form>
</div>

<table class="table">
    <tr>
        <th> <a class="tableHeader" asp-action="Index" asp-route-sortOrder="@ViewData["AuthorIDSortParm"]">@Html.DisplayNameFor(model => model.AuthorID)</a></th>
        <th> <a class="tableHeader" asp-action="Index" asp-route-sortOrder="@ViewData["AuthorNameSortParm"]">@Html.DisplayNameFor(model => model.AuthorName)</a></th>
        <th> <a class="tableHeader" asp-action="Index" asp-route-sortOrder="@ViewData["BornDiedSortParm"]">@Html.DisplayNameFor(model => model.BornDied)</a></th>
        <th> <a class="tableHeader" asp-action="Index" asp-route-sortOrder="@ViewData["InLibrarySortParm"]">@Html.DisplayNameFor(model => model.InLibrary)</a></th>
    </tr>

    @foreach (var author in @Model)
    {
        <tr>
            <td><a href=/Author/ViewAuthor/@author.AuthorID>@author.AuthorID</a></td>
            <td>@author.AuthorName</td>
            <td>@author.BornDied</td>
            <td>@author.InLibrary</td>
        </tr>
    } 

</table>